<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.scau.mybatis.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="ltd.scau.mybatis.po.Image">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from image
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ltd.scau.mybatis.po.Image">
    insert into image (id, url, type, 
      user_id)
    values (#{id,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{userId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ltd.scau.mybatis.po.Image">
    update image
    set url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, url, type, user_id
    from image
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, url, type, user_id
    from image
  </select>
</mapper>