<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.scau.mybatis.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="ltd.scau.mybatis.po.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ltd.scau.mybatis.po.Role">
    insert into role (id, rolename)
    values (#{id,jdbcType=BIGINT}, #{rolename,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ltd.scau.mybatis.po.Role">
    update role
    set rolename = #{rolename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, rolename
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, rolename
    from role
  </select>
</mapper>