<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.scau.mybatis.mapper.UserRelationMapper">
  <resultMap id="BaseResultMap" type="ltd.scau.mybatis.po.UserRelation">
    <result column="user_a_id" jdbcType="BIGINT" property="userAId" />
    <result column="user_b_id" jdbcType="BIGINT" property="userBId" />
    <result column="relation" jdbcType="INTEGER" property="relation" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="ltd.scau.mybatis.po.UserRelation">
    insert into user_relation (user_a_id, user_b_id, relation, 
      update_time)
    values (#{userAId,jdbcType=BIGINT}, #{userBId,jdbcType=BIGINT}, #{relation,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_a_id, user_b_id, relation, update_time
    from user_relation
  </select>
</mapper>