<!DOCTYPE HTML>
<html>
<head>
    <title>这里是我的好友</title>
    <link href="resource/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery -->
    <script src="resource/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="resource/css/style.css" rel='stylesheet' type='text/css' />
    <link href="resource/css/friend.css" rel="stylesheet">
    <link rel="shortcut icon" href="resource/images/fav-icon.png" />
    <script src="resource/js/constant.js"></script>
    <script src="resource/js/jquery.cookie.js"></script>
    <script src="resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="resource/js/vue.js"></script>
    <!-- Custom Theme files -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="resource/js/move-top.js"></script>
    <script type="text/javascript" src="resource/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script>
        $(function() {
            var pull 		= $('#pull');
            menu 		= $('nav ul');
            menuHeight	= menu.height();
            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->
</head>
<body>
<div id="friends">
    <!----- start-header---->
    <div id="home" class="header">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><img src="resource/images/logo.png" title="yellow" /></a>
                </div>
                <!----start-top-nav---->
                <nav class="top-nav">
                    <ul class="top-nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="information.html">个人中心</a></li>
                        <li class="active"><a href="friendsList.html">我的好友</a></li>
                        <li><a href="search.html">搜索</a></li>
                        <li><a @click="signOut()" href="index.html">退出</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <a href="#" id="pull"><img src="resource/images/nav-icon.png" title="menu" /></a>
                </nav>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!----- //End-header---->

    <!---friends---->
    <div class="friends">
        <div class="top-heade">
            <div class="container">
                <div class="top-header-left">
                    <h1>我的好友</h1>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <!---friends-grids---->
    <div class="services-grids">
        <div class="container">
            <div class="services">
                <div class="col-md-4 services-sidebar">
                    <h3>新的好友</h3>
                    <ul>
                        <li v-for="item in newFriends">
                            <div class="col-md-3">
                                <img src="resource/images/c4.jpg"  class="img-responsive center-block img-circle">
                            </div>
                            <p>{{item.nickname}}想成为你的好友</p>
                            <button class="btn btn-default" @click="accept(item.id)">同意</button>
                            <button class="btn btn-default" @click="refuse(item.id)">拒绝</button>
                        </li>
                    </ul>
                    <h3>被拒绝的好友请求</h3>
                    <ul>
                        <li v-for="item in refuseme">
                            <div class="col-md-3">
                                <img src="resource/images/c4.jpg"  class="img-responsive center-block img-circle">
                            </div><br>
                            <p>{{item.nickname}}拒绝了你的好友请求</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 service-content">
                    <h3>我的好友列表</h3>
                    <ul v-for="item in users">
                        <li>
                            <div class="col-md-3">
                                <h1></h1>
                                <img src="resource/images/default_female.jpg"  class="img-responsive center-block img-circle">
                            </div>
                            <p>
                                <a>{{item.nickname}}</a>
                            </p>
                            <p>
                                <label class="col-md-4">真实姓名:{{item.realname}}</label>
                                <label class="col-md-4">性别:{{item.gender}}</label>
                                <label class="col-md-4">生日:{{item.birth}}</label>
                                <label class="col-md-4">学历:{{item.education}}</label>
                                <label class="col-md-6">城市:{{item.address}}</label>
                            </p>
                            <button @click="sendMessage(item.id)" class="col-md-4 btn btn-default">发送消息</button>
                            <button @click="delect(item.id)" class="col-md-4 btn btn-default">删除</button>
                        </li>
                        <div class="clearfix"></div>
                        <div><label></label></div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!---friends-grids---->
<!---friends---->

<!---copy-right--->
<div class="copy-right text-center">
    <p>Copyright &copy; 2018.All rights reserved.<a href="#">@有请下一组</a></p>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
<!---//copy-right--->
</div>
</body>
<script>
    var friends = new Vue({
        el:'#friends',
        data:{
            users:null,
            newFriends:null,
            refuseme:null
        },
        methods:{
            signOut: function () {
                console.log('Sign Out and clear Cookie')
                $.cookie('user', '')
            },
            delect: function (id) {
                $.ajax({
                    url: APP_PREFIX + "/friend/" + id,
                    type: 'DELETE',
                    success: function(result) {
                        if(result.code==0){
                            location.href=APP_PREFIX + "/friendsList.html"
                        }
                    }
                });
            },
            accept: function (id) {
                $.ajax({
                    url: APP_PREFIX + "/accept/" + id,
                    type: 'GET',
                    success: function(result) {
                        if(result.code==0){
                            location.href=APP_PREFIX + "/friendsList.html"
                        }
                    }
                });
            },
            refuse: function (id) {
                $.ajax({
                    url: APP_PREFIX + "/refuse/" + id,
                    type: 'GET',
                    success: function(result) {
                        if(result.code==0){
                            location.href=APP_PREFIX + "/friendsList.html"
                        }
                    }
                });
            },
            sendMessage:function(id){
                url=APP_PREFIX+"/message.html?id="+id;
                window.location.href=url;
            }
        }
    })

    //好友列表
    $.get(
        APP_PREFIX + '/friends',
        {
            "pageNo": 1,
            "pageSize": 50
        },
        function (data) {
            friends.users=JSON.parse(JSON.stringify(data.users));
            for(var i=0;i<friends.users.length;i++){
                friends.users[i].birth = new Date(parseInt(friends.users[i].birth)).format('yyyy-MM-dd')
                if(friends.users[i].gender){
                    friends.users[i].gender='女';
                }else{
                    friends.users[i].gender='男';
                }
            }
        });

    //好友请求
    $.get(
        APP_PREFIX + '/requests',
        {
            "pageNo": 1,
            "pageSize": 50
        },
        function (data) {
            if(data.users){
                friends.newFriends=JSON.parse(JSON.stringify(data.users));
            }
        });

    //被拒绝的好友请求
    $.get(
        APP_PREFIX + '/refusedme',
        {
            "pageNo": 1,
            "pageSize": 50
        },
        function (data) {
            if(data.users){
                friends.refuseme=JSON.parse(JSON.stringify(data.users));
            }
        });

    Date.prototype.format = function(format)
    {
        var o = {
            "M+" : this.getMonth()+1, //month
            "d+" : this.getDate(),    //day
            "h+" : this.getHours(),   //hour
            "m+" : this.getMinutes(), //minute
            "s+" : this.getSeconds(), //second
            "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
            "S" : this.getMilliseconds() //millisecond
        };
        if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
            (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)if(new RegExp("("+ k +")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length==1 ? o[k] :
                    ("00"+ o[k]).substr((""+ o[k]).length));
        return format;
    }
</script>
</html>

