<!DOCTYPE html>
<html>
<head>
    <title>这里是聊天页</title>
    <link href="resource/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery -->
    <script src="resource/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="resource/css/style.css" rel='stylesheet' type='text/css' />
    <link href="resource/css/message.css" rel="stylesheet">
    <link rel="shortcut icon" href="resource/images/fav-icon.png" />
    <script src="resource/js/constant.js"></script>
    <script src="resource/js/jquery.cookie.js"></script>
    <script src="resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="resource/js/vue.js"></script>
    <!-- Custom Theme files -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="resource/js/move-top.js"></script>
    <script type="text/javascript" src="resource/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script>
        $(function() {
            var pull 		= $('#pull');
            menu 		= $('nav ul');
            menuHeight	= menu.height();
            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->
</head>
<body>
<div id="message">
    <!----- start-header---->
    <div id="home" class="header">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><img src="resource/images/logo.png" title="yellow" /></a>
                </div>
                <!----start-top-nav---->
                <nav class="top-nav">
                    <ul class="top-nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="information.html">个人中心</a></li>
                        <li><a href="friendsList.html">我的好友</a></li>
                        <li><a href="search.html">搜索</a></li>
                        <li><a @click="signOut()" href="index.html">退出</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <a href="#" id="pull"><img src="resource/images/nav-icon.png" title="menu" /></a>
                </nav>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!----- //End-header---->

    <div style="background: #ff9">
        <div>
            <div class="top-heade">
                <div class="container">
                    <div class="top-header-left">
                        <h1>与{{nickname}}聊天中</h1>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="talk_con">
            <div class="talk_show" id="words">
                <div v-for="item in messages">
                    <div v-if="item.fromUserId=='0'" class="atalk">{{item.sendTime}}<br><span>{{nickname}}说：{{item.content}}</span></div>
                    <div v-else class="btalk">{{item.sendTime}}<br><span>你说：{{item.content}}</span></div>
                </div>
            </div>
            <div class="talk_input">
                <form class="form-info form-inline" onsubmit="return false">
                    <input type="text" v-model="content" id="content" class="form-control col-md-offset-4">
                    <button type="submit" @click="SendMessage()" class="btn btn-default">发送</button>
                </form>
            </div>
        </div>
    </div>

    <!---copy-right--->
    <div class="copy-right text-center">
        <p>Copyright &copy; 2018.All rights reserved.<a href="#">@有请下一组</a></p>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    <!---//copy-right--->
</div>
</body>
<script src="resource/js/message.js"></script>
</html>