<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="resource/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="resource/css/navbar.css" rel="stylesheet">
    <script src="resource/js/jquery_3.3.1_jquery.js"></script>
    <script src="resource/js/constant.js"></script>
    <script src="resource/js/jquery.cookie.js"></script>
    <script src="resource/js/vue.js"></script>
</head>

<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">后♂现代交友</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="#about">About</a></li>-->
            <!--<li><a href="#contact">Contact</a></li>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li class="dropdown-header">Nav header</li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
            <ul class="nav navbar-nav navbar-right" v-if="user.id">
                <!--<li v-for="item in nav2" @click="selectMapNav(item.href)">-->
                <li v-for="item in nav2">
                    <a v-if="item.href != '/signout'" :href="prefix + item.href">{{item.title}}</a>
                    <a v-else @click="signOut()" :href="prefix + item.href">{{item.title}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" v-else>
                <!--<li class="active"><a href="index.html">首页</a></li>-->
                <!--<li><a href="signin.html">登录</a></li>-->
                <!--<li><a href="register.html">注册</a></li>-->


                <!--<todo-item-->
                <!--v-for="item in groceryList"-->
                <!--v-bind:todo="item"-->
                <!--v-bind:key="item.id">-->
                <!--</todo-item>-->
                <!--<li v-for="item in nav" @click="selectMapNav(item.href)">-->
                <li v-for="item in nav" @click="selectMapNav(item.href)">
                    <a :href="prefix + item.href">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
<script>

    var navbar = new Vue({
        el: '#navbar',
        data: {
            prefix: APP_PREFIX,
            test: true,
            user: {},
            nav: [
                {id: 0, title: '首页', href: '/index.html'},
                {id: 1, title: '登录', href: '/signin.html'},
                {id: 2, title: '注册', href: '/register.html'}
            ],
            nav2: [
                {id: 0, title: '首页', href: '/index.html'},
                {id: 1, title: '个人中心', href: '/signin.html'},
                {id: 2, title: '退出', href: '/signout'}
            ]
        },
        methods: {
            selectMapNav: function (href) {
                //alert(id+href)
                //$(location).attr('href', href);
                location.href = APP_PREFIX + href
            },
            signOut: function () {
                console.log('Sign Out and clear Cookie')
                $.cookie('user', '')
            }
        }
    })
    if ($.cookie('user')) {
        navbar.user = JSON.parse($.cookie('user'))
    }
</script>
</html>
