<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>全球最大线上交♂友♀平台</title>

    <!-- Bootstrap core CSS -->
    <link href="resource/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="resource/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="resource/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <!--<link href="resource/css/base.css" rel="stylesheet">-->
    <link href="resource/css/signin.css" rel="stylesheet">
    <script src="resource/js/jquery_3.3.1_jquery.js"></script>
    <script src="resource/js/constant.js"></script>
    <script src="resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="resource/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
    <script src="resource/bootstrap-datepicker-master/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="resource/js/vue.js"></script>
</head>
<body>
<div id="nav"></div>
<div class="container">

    <form class="form-signin" onsubmit="return false" id="form">
        <div class="panel panel-signin">
            <div class="panel-heading">
                <h3 class="panel-title">用户注册</h3>
            </div>
            <div class="panel-body">
                <div id="userRegister">
                    <label class="sr-only">注册账号</label><input v-model="account" type="text" class="form-control" id="account" name="account" placeholder="注册账号"><br>
                    <label class="sr-only">密码</label><input v-model="password" type="password" class="form-control" id="password" name="password" placeholder="密码"><br>
                    <label class="sr-only">确认密码</label><input type="password" class="form-control" id="repassword" placeholder="确认密码"><br>
                    <label class="sr-only">真实姓名</label><input v-model="realname" type="text" class="form-control" id="realname" name="realname" placeholder="真实姓名"><br>
                    <label class="sr-only">昵称</label><input v-model="nickname" type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称"><br>
                    <label class="sr-only">性别</label>
                    <input v-model="gender" id="male" class="ir" value="0"  type="radio" name="gender"><label for="male">男</label>
                    <input v-model="gender" id="female" class="ir" value="1" type="radio" name="gender"><label for="female">女</label><br>
                    <label class="sr-only">生日</label><input v-model="birth" type="text" class="form-control" id="birth" name="birth" placeholder="生日"><br>
                    <label for="inputVerify" class="sr-only">验证码</label><input v-model="verify" name="verify" type="text" id="inputVerify" class="form-control" placeholder="验证码">
                    <img src="util/code" id="verifyImg" onclick="re()" title="看不清可单击图片刷新">
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" id="register"  @click="postRegisterMessage()">免费注册</button>
                    <br><br>
                    <div> {{ account }} <br>  {{password}}  <br> {{realname}} <br> {{nickname}}<br>{{gender}} <br> {{birth}}<br> {{verify}} </div>
                </div>
            </div>
        </div>
    </form>

</div> <!-- /container -->
</body>
<script src="resource/js/header.js"></script>
<script src="resource/js/register.js"></script>
<script>
    $("#birth").datepicker({
        format: "yyyy-mm-dd",
        startView: 2,
        endDate:new Date(),
        language: "zh-CN",
        autoclose: true
    }).on('changeDate',function(){
        userRegister.birth = $('#birth').val()
    });
</script>
</html>
