<!DOCTYPE HTML>
<html>
<head>
    <title>这里是登录页</title>
    <link href="resource/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery -->
    <script src="resource/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="resource/css/style.css" rel='stylesheet' type='text/css' />
    <link href="resource/css/signin.css" rel="stylesheet">
    <link rel="shortcut icon" href="resource/images/fav-icon.png" />
    <script src="resource/js/constant.js"></script>
    <script src="resource/js/vue.js"></script>
    <script src="resource/js/jquery.cookie.js"></script>
    <!-- Custom Theme files -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="resource/js/move-top.js"></script>
    <script type="text/javascript" src="resource/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script>
        $(function() {
            var pull 		= $('#pull');
            menu 		= $('nav ul');
            menuHeight	= menu.height();
            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->
</head>
</head>
<body>
<div id="userSignIn">
    <!----- start-header---->
    <div id="home" class="header">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><img src="resource/images/logo.png" title="yellow" /></a>
                </div>
                <!----start-top-nav---->
                <nav class="top-nav">
                    <ul class="top-nav">
                        <li><a href="index.html">首页</a></li>
                        <li class="active"><a href="siginin.html">登录</a></li>
                        <li><a href="register.html">注册</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <a href="#" id="pull"><img src="resource/images/nav-icon.png" title="menu" /></a>
                </nav>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!----- //End-header---->

    <!---signin---->
    <div class="signin">
        <div class="top-heade">
            <div class="container">
                <div class="top-header-left">
                    <h1>登录</h1>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!----signin-grids--->

    <!---signIn--->
    <div class="welcome-note text-center">
        <div class="container">
            <form class="form-signin" onsubmit="return false" id="form">
                <div class="panel panel-signin">
                    <div class="panel-heading">
                        <h3 class="panel-title">用户登录</h3>
                    </div>
                    <div class="panel-body">
                        <label for="inputUsername" class="sr-only">你的账号</label>
                        <input v-model="username" name="username" type="text" id="inputUsername"
                               class="form-control" placeholder="你的账号" required autofocus>
                        <br>
                        <label for="inputPassword" class="sr-only">密码</label>
                        <input v-model="password" name="password" type="password" id="inputPassword"
                               class="form-control" placeholder="密码" required>
                        <br>
                        <label for="inputVerify" class="sr-only">验证码</label>
                        <input v-model="verify" name="verify" type="text" id="inputVerify" class="form-control" placeholder="验证码">
                        <img src="util/code" id="verifyImg" onclick="re()" title="看不清可单击图片刷新">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> 记住密码
                            </label>
                        </div>
                        <button class="btn btn-lg btn-info btn-block" id="signin" @click="signIn()">登录</button>
                    </div>
                </div>
            </form>
        </div> <!-- /container -->
    </div>
    <!--signIn-->

    <!---copy-right--->
    <div class="copy-right text-center">
        <p>Copyright &copy; 2018.All rights reserved.<a href="#">@有请下一组</a></p>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    <!---//copy-right--->
</div>
</body>
<script src="resource/js/signin.js"></script>
</html>

